@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import './colours.css';
@import './shapes.css';


:root {
  --color-background: var(--bg);
  --color-text: var(--text);

  --section-gap: 160px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  background-image: linear-gradient(to right top, #f5ebff, #eeedff, #e6efff, #e0f1ff, #dbf2ff, #daf2ff, #daf2ff, #d9f2ff, #ddf0ff, #e6edff, #f2e9ff, #ffe5ff);

  color: var(--color-text);
  line-height: 1.6;
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
