@import './base.css';

/* Viewing */

#app {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}

/* Palette */

.col-op {
  display: block;
  border: 1px solid white;
  margin: 0.5rem 0;
  padding: 0.3rem;
  max-width: 50%;
}

