@import './base.css';

/* Viewing */

#app {
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}

/* Palette */

.col-op {
  display: block;
  border: 1px solid white;
  margin: 0.5rem 0;
  padding: 0.3rem;
  max-width: 50%;
}

/* Tab */

.tab {
  margin: 2rem;
  background-color: gray;
  padding: 0.3rem;
  border-bottom: 4px solid var(--con-shadow);
  border-top: 4px solid var(--con-bg);
  box-shadow:
    -4px 0 0 -2px var(--con-bg),   /* Left inner shadow */
    -8px 0 0 -4px var(--con-bg), /* Leftmost shadow */
     4px 0 0 -2px var(--con-shadow),   /* Right inner shadow */
     8px 0 0 -4px var(--con-shadow); /* Rightmost shadow */
}

.tab-title {
  background-color: var(--con-tab);
  color: var(--con-bg);
}

